* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.text {
    position: relative;
}
.wrapper {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    /* display: none;
    visibility: hidden; */
    overflow: hidden;
    /* opacity: 1; */
}
.popup {
    margin:5vh auto;
    position: relative;
    background: rgb(182, 182, 250);  
    opacity: 0.95; 
    border-radius: 10px;
    max-width: 350px;  
}
.popup-header {
    position: relative;
    background: whitesmoke;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
}
.popup-header-title {
    display: inline-block;
    vertical-align: middle;
    color: gray;
}
.close-popup {
    height: 21px;
    width: 15px;
    position: absolute;
    top: 0;
    right: 10px;
}
form {
    height: calc(85vh - 30px);
    overflow-y: auto;
    padding: 15px;
    font-size: 11px;
}
.open_popup {
    text-decoration: none;
    color: aqua;
}
/* .email, 
.sex,
.status,
.wrapper-birth,
.skills,
.file,
.comment {
    margin-top: 15px;
} */
/* #form-comments {
    max-width: 85%;
} */
.input-name,
.input-email,
#form-comments,
.sex,
.status,
#skills {
    width: 100%;
}
/* input {
    width: 100%;
} */
.birth {
    font-size: 0;
}
#month {
    min-width: 70%;
}
#year {
    min-width:30%;
}
.form-item {
    margin-top: 10px;
}

input[type="submit"] {
    background: rgb(99, 98, 98);
    border: 2px solid gray;
    border-radius: 3px;
    width: 100%;
}
/* svg {
    display: inline-block;
    width: 15px;
    margin-left: 91%;
} */
.close-popup:focus svg {
color: red;
}
#popup-link:target {
    visibility: visible;
    opacity: 1;
    display: block;
}
