@import "../sass/variables.scss";

.button {
    display: inline-block;
    border: none;
    background: $logo-color1;
    padding: 0;

    &__link {
        color: $ground-color;
        padding: 9% 10%;
    }

}
