@import "../sass/variables.scss";

.footer {
    text-align: center;

    &__copyright {
        background: $logo-color2;
        color: $ground-color;
        font-size: $size-normal*1.2;
        padding: 19px 0;
    }

    &__social {
    
          @include header-padding(vw(23), vw(52));
    
    }

    &__phone {
        font-size: 23px;
        color: #394b50;
        // display: flex;
        // justify-content: center;
        @include flex(center, stretch, nowrap);
    }
}
.social {
    &__icon {
        color: $logo-color2;
        text-decoration: none;
        margin-right: 5px;

        @include hover-active;
    }
    
}
.icon-phone {
     
    margin-right: 10px;
    color: #394b50;
  }

  .footer {
  
     &__copyright {
      font-family: $sans;
     }
      &__number {
        color: #394b50;
      }
  }
