@import "../sass/variables.scss";

.footer {
    text-align: center;

    &__copyright {
        background: $logo-color2;
        color: $ground-color;
        font-size: $size-normal*1.2;
        padding: 19px 0;
    }

    &__social {
        padding-top: 2%;
    padding-bottom: 4%;
    
    }

    &__phone {
        font-size: $size-normal*2.3;
    font-family: $lato;
    color: #394b50;
    font-weight: 400;
    display: flex;
    justify-content: center;
    }
}
.social {
    &__icon {
        color: $logo-color2;
        text-decoration: none;
        margin-right: 5px;
    }
    &__icon:hover {
        color: $logo-color1;
    }
    
}

.icon-phone {
    font-size: $size-normal*3;
    margin-right: 10px;
    color: #394b50;
  }

  .footer__copyright {
      font-family: $sans;
  }