.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  stroke-width: 0;
  stroke: #95e1d3;
  fill:#95e1d3;
} 

.icon_large {
  width: 63px;
  height: 63px;
  stroke: #fff;
  fill:#95e1d3;
}

.icon_xsmall {
  width: 16px;
  height: 16px;
}

.icon_small {
  width: 18px;
  height: 18px;
  stroke: #fff;
  fill:#fff;
}

.icon_light {
  stroke: #fff;
  fill:#fff;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-bullseye {
  width: 0.857421875em;
}

.icon-alarmclock {
  width: 0.9375em;
}

.icon-users {
  width: 1.125em;
}
