@import "../sass/variables.scss";

@import "../sass/mixin.scss";

.clients {
    background: $logo-color1;

    &__header {

        @include header-padding(vw(140), vw(58));
    
    }
}

.testimonial {
    @include flex(space-between, stretch, wrap);
    
    align-content: space-between;
    
    @include header-padding(0, 10%);

    &__item {
        background: $ground-color;
    width: 48%;
    padding: 43px 40px 50px 30px;
    display: flex;
    margin-top: 2%;
    }

    &__avatar {
        width: 121px;
    }

    &__content {
        padding-left: 6%;
    font-size: 0.85em;
    color: #7b7b7b;
    font-family: $sans;
    }
 }

.testimonial__author  {
    @include header-padding(5%, 0);

    text-transform: uppercase;
    font-family: $lato;
  }

  .testimonial__author_colored {
      color: $logo-color1;
  }

  @media (max-width: $breakpoin2) {
    .testimonial {
        justify-content: center;
    }

    .testimonial__item {
        width: 70%;
    }
  }

  @media (max-width: $breakpoint3) {
    .testimonial__item {
        flex-direction: column;
        align-items: center;
    }
  }