@import "../sass/variables.scss";

@import "../sass/mixin.scss";

.banner__slider {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: vw(-120);
}

.slider {

    &__screen {
        position: relative;
        background: url(../../img/Vector.png);
        max-width: vw(647);
        min-width: vw(647);
        min-height: vw(343);
        background-size: cover;
    }

    &__img {
        position: absolute;
        width: 100%;
        max-width: vw(445);
        top: vw(18);
        left: vw(102);
    }

    &__arrow {
        $arrow:&;

        position: absolute;
        // bottom: vw(190);
        top: 0;
        bottom: 0;
        width: vw(80);
        cursor: pointer;

        &_left {
            
            left: 0;

            #{$arrow}-item {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &_right {
            
            right: 0;

            #{arrow}-item {
                right: 50%;
                transform: translateX(-50%);
            }
        }

        &-item {
            position: absolute;
            top: vw(150);
        }
    }

    &__points {
        display: flex;
        padding: vw(24);
        justify-content: center;
    }

    &__point {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid $text-color1;
        margin: 0 4px;
    }
}
