* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
 
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}  

@import "./variables.scss";

@import "../header/header.scss";

@import "../logo/logo.scss";

@import "../menu/menu.scss";

@import "../link/link.scss";

@import "../banner/banner.scss";

@import "../content-headers/content-header.scss";

@import "../form/form.scss";

@import "../inputs/input-name.scss";

@import "../inputs/input-email.scss";

@import "../inputs/input-tell.scss";

@import "../button/button.scss";

@import "../banner-img/banner-img.scss";

@import "../points/points.scss";

@import "../service/service.scss";

@import "../about/about.scss";

@import "../price/price.scss";

@import "../work/work.scss";

@import "../clients/clients.scss";

@import "../newsletter/newsletter.scss";

@import "../map/map.scss";

@import "../footer/footer.scss";









