@font-face {
    font-family:'GothamPro-Black';
    src: url(./../fonts/GothamPro-Black.woff)
}

@font-face {
    font-family:'Lato-Regular';
    src: url(../fonts/Lato-Regular.woff)
}

@font-face {
    font-family:'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.woff)
}

@font-face {
    font-family:'FontAwesome';
    src: url(../fonts/FontAwesome.woff)
}


$gotham: 'GothamPro-Black';

$lato:'Lato-Regular';

$sans: 'OpenSans-Regular';

$logo-color1: #ffbb42;

$logo-color2: #709dca;

$ground-color: #fff;

$ground-color2: #e7edf3;

$text-color1: #394b50;

$text-color2: #7b7b7b;

$size-normal: 10px;

