@import "../sass/variables.scss";

.newsletter__header {
    padding: 12% 0 2%;
    color: black;
}

.newsletter__form {
    padding: 2% 10% 4%;
}

// .form__input_size_m {
//     width: 35%;
// }

// .form__button_size_m {
//     width: 27%;
// }