@import "../sass/variables.scss";

.button {
    display: inline-block;
    border: none;
    background: $logo-color1;
    padding: 0;
    border-radius: $border-rad;
    

    &__link {
        color: $ground-color;
        padding: 8% 0;
        width: 100%;
        font-size: vw(12);
    }

}

// @media (max-width:796px) {
//     .button__link {
//         font-size: $size-normal;

//     }
// }
