@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
@import url('./../fonts/GothamBlack.otf');

* {
    box-sizing: border-box;
    font-size: 14px;
}
body {
    margin: 0;
}
.wrapper {
    margin: 0 auto;
}
.page-header-logo {
    max-width: 50px;
}
.page-header,
.banner-content
 {
    max-width: 1170px;
    margin: 0 auto;
}
.page-header {
    /* padding: 22px 0; */
    background: #ffffff;
    font-family: 'Lato', sans-serif;
}  
.page-header-logo {
    padding: 22px 0;
    display: inline-block;
}
.page-heder-menu {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 30px 0;
}
.page-header-menu-item {
    display: inline-block;
}
.page-header-menu-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    color: #868686;
    padding: 10px 21px;
}
.page-header-menu-link:hover {
    background: #ffbb42;
    color: #ffffff;
}
.banner {
    background: #709dca;
}
.banner-content {
    text-align: center;
    margin: 0;
}
.banner-header {
    
}
