@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
@import url('../fonts/GothamBlackRegular.ttf');

* {
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Open Sans";
}
body {
    margin: 0;
}
.wrapper {
    margin: 0 auto;
}
.page-header-logo {
    max-width: 50px;
}
.container,
.banner-content
 {
    max-width: 1170px;
    margin: 0 auto;
}
.page-header {
    /* padding: 22px 0; */
    background: #ffffff;
    font-family: 'Lato', sans-serif;
}  
.page-header-logo {
    padding: 22px 0;
    display: inline-block;
}
.page-heder-menu {
    list-style-type: none;
    float: right;
    margin: 0;
    /* padding: 30px 0; */
    margin-top: 30px;
}
.page-header-menu-item {
    display: inline-block;
}
.page-header-menu-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    color: #868686;
    padding: 10px 21px;
}
.page-header-menu-link:hover {
    background: #ffbb42;
    color: #ffffff;
}
.banner {
    /* background: #709dca; */
    font-family: 'Open Sans';
    color: white;
    background: #709dca;
    /* font-size: 14px; */
    position: relative;
    text-align: center;
}
.banner-content {
    margin-bottom: 87px;
    /* text-align: center; */
}
.banner-header {
    padding-top: 110px;
    font-family: 'Gotham Black';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: white;
}
.banner-form {
    padding: 35px 40px 350px;
    /* max-width: 100%; */
}
.form-item {
    width: 26.7%;
    padding: 18px 0 18px 41px;
    font-size: 0.7em;
    border: none;
}
input[type="name"] {
    background: #ffffff url(.././img/Full_name.png) no-repeat 15px;
}
input[type="email"] {
    background: #ffffff url(../img/email.png) no-repeat 15px;
}
input[type="tell"] {
    background: #ffffff url(../img/tell.png) no-repeat 15px;
}
button {
    background: #ffbb42;
    /* color: #ffffff;
    text-transform: uppercase; */
    border: none;
    display: inline-block;
    padding: 0;
}
.button {
    display: inline-block;
    padding: 18px 45px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.86em;
}
.banner-img {
    position: absolute;
    top: 55%;
    left: 30%;
}
.banner-point {
    text-align: center;
    padding-bottom: 105px;
}
.service {
    text-align: center;
}
.service-header {
    padding-bottom: 1%;
}
.service-main-header {
    text-transform: uppercase;
    font-size: 2.1em;
    font-weight: 900;
}
.two-columns {
    display: inline-block;
    font-size: 0;
}
.two-columns-item {
    display: inline-block;
    width: 50%;
}
.two-columns-item {
    padding-top: 4%;
}
.two-columns-item-icon {
    /* display: inline-block; */
    float: left;
    width: 10%;
    top: 0;
    /* text-align: left; */
}
.two-columns-item-content {
    display: inline-block;
    width: 80%;
    text-align: left;
    font-size: 0.85em;
}
.two-columns-item-content-header {
    padding-bottom: 2%;
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
}
