@import "../sass/variables.scss";

@import "../sass/mixin.scss";

.banner {
    position: relative;
    background: $logo-color2;
    text-align: center;

    &__header {
        
        @include header-padding(vw(110), vw(30));
    }

    &__form {
        
        padding-right: vw(30);
        padding-left: vw(30);
        padding-bottom: vw(350);
    }

    &__content {
        margin-bottom: vw(90);
    }
}
.form__input {
    width: vw(275);
}
