@import "../sass/variables.scss";

@import "../sass/variables.scss";

.price {
    background: $ground-color2;

    &__header
    {
        @include header-padding(vw(137), vw(80));

        color: $text-color1;
        
    }

    &__card {
    
    @include header-padding(0, 6%);

    @include flex(center, stretch, nowrap);

    }
}

.card {

    @include header-font($lato);
    padding: 57px 31px 48px;
    text-align: center;
    color: #818b95;
    background: #ffffff;
    width: 33.3%;
    border-radius: 5px;

    &__header {
        font-size: font-size(1.9);
    }

    &__summ {
        @include header-padding(7%, 7%);
        font-family: $lato;
    }

    &__quantity {
    
    color: $logo-color1;
    font-size: $size-normal*4;
    font-weight: bold;
    }
}

.card__currency {
    font-size: $size-normal*2;
    position: relative;
    top: -0.8em;
    right: 2px;
}


.card__opportunities {
    list-style-type: none;
    color: #b5bbc1;
    padding: 0;
    margin: 0;
 }

.card__opportunities-item {
    border-top: #e2e9f0 solid 1px;
    padding: 3px;
}

.card__button {
    margin: 0 auto;
    margin-top: 9%;
    width: 62%;
}

.cards__item_active:hover {
    background: $logo-color2;
    color: $ground-color;
    transform: scale(1, 1.13);
}

.cards__item_active:hover .card__quantity {
    color: $ground-color;
}

@media (max-width: $breakpoint3) {
    .price__card {
        @include column(center);
        
    }

    .card {
        width: 70%;
        margin-bottom: 20px;
    }

    .cards__item_active:hover {
        transform: scale(1, 1);
    }

}