@import "../sass/variables.scss";

@import "../sass/mixin.scss";

.points {
    
    @include header-padding(0, 3%);
    
    @include flex(center, stretch, nowrap);
    
    margin: 0 auto;
    background: $ground-color;

    &__item {
        padding: 6px;
        border: 1px solid #dedfe0;
        border-radius: 50%;
        margin: 0 5px;
    }
}

.points__item_active:hover {
    border: 1px solid $logo-color2;
}