@import "../sass/variables.scss";

.service__header {
    color: $text-color1;
    padding-top: 1%;
    padding-bottom: 2%;
}
.opportunities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10%;

    &__item {
        padding-top: 4%;
        display: flex;
        width: 50%;
        
    }

    &__icon {
        align-self: stretch;
        width:30%;
        padding-left: 4%;
        
    }
    &__content {
        font-size: $size-normal;
        padding-right: 4%;
        padding-left: 4%;
    }
}
.opportunities {

    &__header {
       padding-bottom: 2%;
       font-family: $lato;
       text-transform: uppercase;
       font-weight: 700;
       font-size: $size-normal*1.4;
    }

    &__text {
        font-size: $size-normal*1.2;
        font-family: $sans;
    }
}

@media (max-width: 850px) {
    .opportunities {
        flex-direction: column;
        align-items: center;
    }

    .opportunities__item {
        width: 70%;
    }
}

// .opportunities__item:hover .opportunities__icon {
//     text-shadow: #f6772c 0 0 2px, #f6772c 0 0 2px,  #f6772c 0 0 2px, #f6772c 0 0 2px, #f6772c 0 0 2px;
// } 