@import "../sass/variables.scss";

.map__content {
    padding: 0 3% 50%;
    background: url(../img/Layer_13.png) no-repeat;
    background-size: 100%;
    position: relative;
}

.map__address-wrapper {
    position: absolute;
    top: 18%;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    &__header {
        text-transform: uppercase;
        
        font-family: $lato;
        font-size: vw(15);
        margin-bottom: 5%;
    }

    &__link {
        text-decoration: none;
        color:  $logo-color1;
        font-size: vw(13);
    }

    &__text {
        width: 20%;
        background: url(../img/address-img.png) no-repeat;
        background-size: 100%;
        font-size: vw(13);
        display: inline-block;
        color: $ground-color;
        padding: vw(55) vw(60) 68px;
        text-align: center;
    }
}

.map__address {
    // padding: 0 28%;
    line-height: 1.7;

}