  .screen {
    position: absolute;
    top:48%;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;

    &__img {
      position: relative;
      max-width: 100%;
    }
  }
@media (max-width:1120px) {
  .screen {
    max-width: 60%;
    margin: 0 auto;
  }
}