  @import "../sass/variables.scss";

  @import "../sass/mixin.scss";

  .screen {
    @include header-padding(30px, 0);

    position: absolute;
    top:48%;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;

    &__img {
      position: relative;
      max-width: 100%;
    }
  }
@media (max-width:1125px) {
  .screen {
    max-width: 50%;
    margin: 0 auto;
  }
}

@media (max-width:$breakpoint3) {

  .screen {
    top:68%;
  }

}