@import "./variables.scss";

@function vw($size) {
    $screen:1366;

    @return ($size/$screen)*100vw;
}

@mixin flex($justify, $aling, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $aling;
    flex-wrap: $wrap;

    @content;
    
}

@mixin input-border {
    font-size: 10px;
    color: $text-color2;
    border-radius: $border-rad;
    padding: 2% 0 2% 4%;
    
}

@mixin breakpoint1 {
    @media (max-width: $breakpoin2) {
        flex-direction:column;
        align-items: center;
    }
        
}

@mixin header-padding($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;

       @content;   
}

@mixin hover-active {
    &:hover {
        color: $logo-color1;

           @content;
    }
    
}

