@import "./variables.scss";

@mixin input-border {
    font-size: $size-normal;
    color: $text-color2;
    border-radius: $border-rad;
    padding: 2% 0 2% 4%;
    
}

@mixin breakpoint1 {
    @media (max-width: 850px) {
        flex-direction:column;
        align-items: center;
    }
        
}
    

// @function vw($size) {
//     $screen:1366

//     @return ($size/$screen)*100vw;
// }