@import "../sass/variables.scss";

@import "../sass/mixin.scss";

.service__header {
    color: $text-color1;
    
    @include header-padding(vw(105), vw(15));
}
.opportunities {
    @include flex(space-between, stretch, wrap);

    @include header-padding(0, 10%);

    &__item {
        padding-top: vw(79);
        display: flex;
        width: 50%;
        
    }

    &__icon {
        align-self: stretch;
        width:30%;
        padding-left: 4%;
        
    }
    &__content {
        font-size: $size-normal;
        padding-right: 4%;
        padding-left: 4%;
    }
}
.opportunities {

    &__header {
       @include header-padding(0, 2%);
       
       @include header-font($lato);

       font-weight: 700;
       font-size: font-size(1.2);
    }

}

@media (max-width:$breakpoin2) {
    .opportunities {
        
        @include column(center);

        &__item:nth-of-type(odd) {
            align-self: flex-start;
        }

        &__item:nth-of-type(even) {
            align-self: flex-end;
        }

        &__item {
            width: 85%;
        }
    }

    
}

.opportunities__item:hover .opportunities__icon {
    text-shadow: #f6772c 0 0 2px, #f6772c 0 0 2px,  #f6772c 0 0 2px, #f6772c 0 0 2px, #f6772c 0 0 2px;
} 