.header {
    color: $ground-color;
    text-align: center;
}
.header__first-header {
    font-size: ($size-normal*2.5);
    font-family: 'GothamPro-Black';
    text-transform: uppercase;
}

.header__secondary-header {
    font-size: ($size-normal*1.1);
    font-family: 'OpenSans-Regular';
}