@import "../sass/variables.scss";

@import "../sass/mixin.scss";

.about {
    display: flex;

    &__img {
        background: url(../img/Layer_27.png) no-repeat;
        background-size: 100% 100%;
        width: 50%;
    }

    &__content {
        width: 50%;
        background: $logo-color1;
        padding: 10% 4% 11% 5%;
        
    }

    &__header {

        @include header-padding(vw(0), vw(28));

        text-align: left;
    }
}
.about {
    &__text {
        color: $ground-color;
        font-size: $size-normal;
        line-height: 24px;

           @include header-padding(0, vw(33));
    }

    &__button {
        border: 3px solid #e7ad48;
        width: 40%;

    }
}
 
@media (max-width:$breakpoint3) {

    .about {
        &__img {
            display: none;
        }

        &__content {
            background: url(../../img/Layer_27.png) no-repeat;
            background-size: 100% 100%;
            width: 100%;
        }

        &__button {
            background: none;
        }
    }
//     .about {
//         &__img {
//         display: none;
//     }
//         &__content {
//             width: 100%;
//             text-align: center;
//             padding-left: 10%;
//             padding-right: 10%;
//         }
//         &__header {
//             text-align: center;
//         }
// }
       
}