@import "../sass/variables.scss";

@import "../sass/mixin.scss";

.about {
    display: flex;

    &__img {
        background: url(../img/Layer_27.png) no-repeat;
        background-size: 100% 100%;
        width: 50%;
    }

    &__content {
        width: 50%;
        background: $logo-color1;
        padding: 10% 4% 11% 5%;
    }

    &__header {

        @include header-padding(vw(0), vw(28));

        text-align: left;
    }
}
.about {
    &__text {
        color: $ground-color;
        font-size: $size-normal;
        line-height: 24px;

           @include header-padding(0, vw(33));
    }

    &__button {
        border: 1px solid #e7ad48;
        width: 40%;

    }
}
 
