@import "../sass/variables.scss";

.work {
    position: relative;
    text-align: center;

    &__header {
        @include header-padding(vw(155), vw(105));

        color: black;
    }

    &__button {
        margin: 0 auto;
        margin-bottom: 10%;
        width: 21%;
    }

    &__arrows {
        position: absolute;
    top: 32%;
    bottom: 0;
    left: 0;
    right: 0;
    height: vw(188);
    max-width: vw(800);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    }
}

.arrows__item_bottom {
    align-self: flex-end;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;

}

.step {
    width: 20%;
    display: flex;
    flex-direction: column;

    &__header {
        padding: 25% 0 8%;
    text-transform: uppercase;
    font-family: $lato;
    font-size: $size-normal*1.7;
    color: #394b50;
    }

    &__text {
        font-family: $sans;
        font-size: $size-normal*1.1;
    }
}

@media (max-width:850px) {
    .steps {
        flex-direction: column;
        align-items: center;
    }

    .step {
        margin-top: 15px;
    }

    .work__arrows {
        display: none;
    }
}