* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  
  .page-navigation {
      background: #1AA4FF;
    position: relative;
    font-family: 'Economica';
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    border-right: 1px solid #fff;
      border-left: 1px solid #fff;
  }
  
  .outer,
  .inner {
    font-size: 0;
  }
  
  .outer {
    text-align: center;
  }
  
  .inner {
    text-align: left;
  }
  
  .outer-item,
  .inner-item {
    display: inline-block;
  }
  
  .outer-item-link,
  .inner-item-link {
    display: inline-block;
    text-decoration: none;
  }
  
  .outer-item-link {
    padding: 10px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }
  
  .outer-item-drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: whitesmoke;
  }
  
  .inner-item-link {
      padding: 12px;
    font-size: 14px;
    font-weight: 400;
      font-family: Arial, sans-serif;
    text-transform: capitalize;
    color: grey; 
  }
  
  .outer-item:hover .outer-item-link {
    color: grey; 
    background-color: whitesmoke;
  }
  
  .outer-item:hover .outer-item-drop {
    display: block;
  }
  
  .inner-item:hover .inner-item-link {
    color: black;
  }