.heading__nav-item {
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 6px;
    margin-bottom: 3px;
}

.landing-info__border-item_circle {
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 50%; 
}
.landing-info__border-item_line {
    width: 275px;
    border: 0.5px solid #fff;
}
/* .option__icon {
    max-width: 107px;
    max-height: 107px;
} */
.option__icon-img {
    max-width: 107px;
    max-height: 107px;
    min-width: 107px;
    min-height: 107px;
}