@import './variables.scss';
@import './mixin.scss';

.about {

    &__content {
        @include py(vw(90), vw(108));
    }

    &__photo {
        display: flex;
        justify-content: space-between;

        @include my(vw(100), 0);


        // &-item:hover {
        //     background: url(../img/plant.png);


        // }

        // &-item3 {
        //     background: url(../img/plant.png);
        // }
    }
}

.photo {
    $photo: &;
    
    max-width: vw(380);
    max-height: vw(250);
    background: $bg-color;
    position: relative;

    &__item {
        // position: absolute;
        // top: 0;
        // left: 0;
        // object-fit: cover;
    //    height: auto;
    //    width: 100%;
    //    max-width: vw(380);
    }

    &:hover {
        // background: url(../img/about-screen.png);

        #{$photo}__item {
            // top: -5%;
            // left: -5%;
            // opacity: 0.1;
            background: url(../img/about-screen.png);
        }
    }
}