@import './variables.scss';
@import './mixin.scss';

.banner {
    background-image: url(../img/banner-img.png);
    background-position: 42%;
    background-size: cover;

    &__content {

        @include py(vw(28), vw(28));
    }

    &__wrapper {
        background-image: $linear-gradient;
    }

    &__heading {
        @include py(vw(180),0);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
    }

    &__logo {
        color: $text-white;
        font-size: $text-size*2;

    }

    &__button {
        @include my(0, vw(155));
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text-white;
        text-transform: uppercase;
        opacity: 0.6;

        &-item  {
            width: 23.5%;
            border-top: 3px solid $text-white;
            text-align: left;
            font-size: 14px;

            @include py(vw(24), 0);

            &_bold {
            
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

.menu {
    $menu:&;

    &__item {
        margin-left: 55px;
        padding-bottom: 12px;

        &:hover {
            color: $button-color;
            border-bottom: 2px solid $button-color;

            #{$menu} {
                &__icon {
                    fill:$button-color;
                    stroke: $button-color;
                }
            }
        }
    }
}

@include scale (880, 'less') {
    #menuToggle {
        display: flex;
    }

    .menu {
        display: none;
    }
}