@import './mixin.scss';
@import './variables.scss';

.bloging {
    text-align: left;
    font-size: $text-size*0.67;

    &__header {

        text-transform: uppercase;

        @include my(0, 40px);
    }

    &__item {
        display: flex;
        align-items: center;

        @include my(30px, 30px);
    }

    &__img {
        width: 119px;
        height: 79px;
    }

    &__content {
        margin-left: 20px;
    }

    &__subscribe {
        text-transform: uppercase;

        @include my(0, 12px);
    }

    &__date {
        font-family: 'roboto-light';
        color: $text-gray;
        font-size: $text-size*0.8;
    }
}