@import './mixin.scss';
@import './variables.scss';

.blog {

    &__content {

        @include py(vw(110), vw(120));
    }

    &__days {
        display: flex;
        justify-content: flex-start;

        @include scale(560, 'less')  {
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
        }  
    }
}

.day {
    // position: relative;

    &__img {
        position: relative;
        max-width: vw(380);
        min-width: vw(380);
        height: 100%;

        @include scale(560, 'less')  {
            margin: 0 auto;
            max-width: vw(600);
            min-width: vw(600);
        }  


        &-item {
            width: 100%;
        }
    }

    @include scale(560, 'less')  {
        max-width: 90%;
        margin-top: 50px;
    }  

    &__content {
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 20px;

    }

    &:nth-of-type(n+2) {
        margin-left: 30px;

        @include scale(560, 'less')  {
            margin-left: 0;
        }  
    }

    &__header,
    &__text {
        text-align: left;
        margin-top: 20px;

        @include scale(560, 'less')  {
            text-align: center;
        }  
    }

    &__header {
        color: $text-black;
        text-transform: uppercase;
    }

    &__text {
        color: $text-gray;
        font-family: 'roboto';
        margin-bottom: 20px;
    }
}

.popularity {
    display: flex;
    color: $text-gray;
    font-family: 'roboto-light';

    &__item {
        font-size: $text-size*0.85;
        margin-right: 7px;
    }

}

.date {
    position: absolute;
    left: vw(-10);
    top:vw(160);
    width: vw(60);
    height: vw(70); 
    background: $bg-color;
    padding: vw(15);
    color: $text-white;

    @include scale(560, 'less')  {
        top:vw(300);
    }  

    &__month {
        font-family: 'roboto-light';
        font-size: vw(15);
    }

    &__num {
        font-size: vw(20);
    }
}