@import './mixin.scss';
@import './variables.scss';

.blog {

    &__content {

        @include py(vw(110), vw(120));
    }

    &__days {
        display: flex;
        justify-content: flex-start;

    }
}

.day {
    position: relative;

    &__img {
        max-width: vw(380);
        min-width: vw(380);
        // min-height: vw(240);
        height: 100%;

        &-item {
            width: 100%;
        }
    }

    

    &__content {
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 20px;
    }

    &:nth-of-type(n+2) {
        margin-left: 30px;
    }

    &__header,
    &__text {
        text-align: left;
        margin-top: 20px;
    }

    &__header {
        color: $text-black;
        text-transform: uppercase;
    }

    &__text {
        color: $text-gray;
        font-family: 'roboto';
        margin-bottom: 20px;
    }
}

.popularity {
    display: flex;
    color: $text-gray;
    font-family: 'roboto-light';

    &__item {
        font-size: $text-size*0.85;

        &:nth-of-type(2n) {
            
            @include mx(7px,19px);
        }
    }

}

.date {
    position: absolute;
    left: vw(-10);
    top:vw(160);
    width: vw(60);
    height: vw(70); 
    background: $bg-color;
    padding: vw(15);
    color: $text-white;

    &__month {
        font-family: 'roboto-light';
        font-size: vw(15);
    }

    &__num {
        font-size: vw(20);
    }
}