@import './variables.scss';
@import './mixin.scss';

.footer {
    &__content {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $border-color;

        @include py (vw(74), vw(70));

        @include scale(1024, 'self-above') {
            flex-wrap: nowrap;
        }
    }

    &__copyright {
        text-align: center;
        @include my(25px, 25px);
        font-size: $text-size*0.8;

        &_red {
            color: $line-color;
        }
    }

    &__column {
        text-align: left;
        margin-bottom: 30px;

        @include scale(1024, 'self-above') {
            max-width: (100% /3);
            flex-basis: 100%;
            margin-bottom: 0;
            
        }

        &:not(:last-child) {
            @include scale(1024, 'self-above') {
                margin-right: 5%;
            }
        }
        
        &--blogging,
        &--instagramm {
            @include scale(468, 'self-above') {
                max-width: 50%;
            }
        }

        &--blogging {
            @include scale(468, 'self-above') {
                margin-right: 5%;
            }
        }
    }

}