@import './variables.scss';
@import './mixin.scss';

.footer {
    &__content {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $border-color;

        @include py (vw(74), vw(70));
    }

    &__copyright {
        text-align: center;
        @include my(25px, 25px);
        font-size: $text-size*0.8;

        &_red {
            color: $line-color;
        }
    }

    &__column {
        text-align: left;
        flex-grow: 1;
        margin-bottom: 30px;
    }

}