@import './variables.scss';
@import './mixin.scss';

.form {
    
    &__input {
        padding: 15px 0 15px 13px;
        font-family: 'roboto-light';
        border: 1px solid #e7e7e7;

        &_blue {
            background: $bg-color;
            color: $text-white;
            font-weight: 700;
            font-family: 'monserrat';
            text-transform: uppercase;
            border: 2px solid $bg-color;
            cursor: pointer;
            padding: 15px 34px;
        }
    }
}