.heading {
    &__first {
        color: $text-black;
        font-family: 'kaushan';
        font-size: $text-size*1.6;

        &_big {
            color: $text-white;
            font-size: $text-size*4.8;
        }
    }

    &__secondary {
        color: $text-black;
        font-size: $text-size*2;
        text-transform: uppercase;

        &_big {
            color: $text-white;
            font-size: $text-size*10;
        }
    }

}