@import './variables.scss';
@import './mixin.scss';

.instagram {
    text-align: left;
    

    &__header {
        font-size: $text-size*0.67;
        text-transform: uppercase;

        @include my(0, 40px);
    }
    &__images {
         display: flex;
         flex-wrap: wrap;
     }

    &__image {
         margin: 1px;
     }
    &__more {
        @include my(20px, 0);

        &-link {
            color: $text-gray;
            font-size: $text-size*0.87;
            font-family: 'roboto-light';
            text-transform: none;
        }
    }

    
}