@import './variables.scss';
@import './mixin.scss';

.instagram {
    &__header {
        font-size: $text-size*0.67;
        text-transform: uppercase;

        @include my(0, 40px);
    }
    
    &__images {
        max-width: 270px;
        font-size: 0;
    }

    &__image {
        padding: 1px;
    }

    &__more {
        @include my(20px, 0);

        &-link {
            color: $text-gray;
            font-size: $text-size*0.87;
            font-family: 'roboto-light';
            text-transform: none;
        }
    }

    
}