@import './mixin.scss';
@import './variables.scss';

.logos {
    background: $bg-light-color;

    &__content {
        display: flex;
        justify-content: space-between;

        @include py(vw(50), vw(50));
    }
}