@import './mixin.scss';
@import './variables.scss';

.logos {
    background: $bg-light-color;

    &__content {

        @include py(vw(50), vw(50));
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item-icon {
        max-width: vw(150);
        min-width: vw(150);
        min-height: vw(150);
    }
}