@function vw($size) {
    $screen:1350;

    @return ($size/$screen)*100vw;
}

@mixin py($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;

    @content;
}

@mixin px($left, $right) {
    padding-left: $left;
    padding-right: $right;

    @content;
}

@mixin my($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;

    @content;
}

@mixin mx($left, $right) {
    margin-left: $left;
    margin-right: $right;

    @content;
}

@mixin img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;    
}

@mixin scale($width, $diff: 'less') {
    $behaviour: max-width;
    $screen-width: $width;

    @if ($diff == 'less') {
        $screen-width: $width - 1;
    }
    @if ($diff == 'self-above') {
        $behaviour: min-width;
    }

    @media screen and (#{$behaviour}: #{$screen-width}px) {
        @content;
    }
}