@import './mixin.scss';
@import './variables.scss';

.number {
    text-align: center;
    color: $text-white;

    @include py(vw(90), vw(90));

    &__summ {
        font-size: vw(51);
    }

    &__text {
        font-size: vw(14);
        text-transform: uppercase;
    }
}