@import './mixin.scss';
@import './variables.scss';

.option {
    display: flex;
    align-items: flex-start;

    &__icon {
        width: 44px;        
    }

    &__content {
        text-align: left;
    }
    &__header {
        color: $text-black;
        text-transform: uppercase;
    }

    &__text {
        color: $text-gray;
        font-size: $text-size*0.67;
    }
}