@import './mixin.scss';
@import './variables.scss';

.option {
    display: flex;
    align-items: flex-start;

    &__icon {
        width: 44px;        
    }

    &__content {
        text-align: left;
        @include mx(vw(27),vw(75));
    }
    &__header {
        color: $text-black;
        text-transform: uppercase;

        @include py(0,20px);
    }

    &__text {
        color: $text-gray;
        font-size: $text-size*0.8;
        font-family: 'roboto';
    }
}