@import './variables.scss';
@import './mixin.scss';

.presentation {
    $present:&;

    &__img {
        background: url(../img/services2.png) no-repeat;
        background-size: 100%;
        max-width: vw(570);
        min-width: vw(570);
        min-height: vw(380);
    }

    &__form {
        margin-left: 15px;
        // width: 49%;
        flex-grow: 1;
    }

    &__content {
        position: relative;
        border: 1px solid $text-gray;
        
        &:nth-of-type(n+2) {
            @include my (10px, 0);
        }
    }

    &__header {
        text-transform: uppercase;
        font-size: $text-size*0.67;
        color: $text-black;

        @include px(15px,0);
    }

    &__arrow {
        cursor: pointer;
        position: absolute;
        transform: rotate(-90deg);
        right: 20px;
        top: 20px;
    }

    &__spoiler {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $text-gray;
        padding: 15px;
    }

    &__text {
        text-align: left;
        font-family: 'roboto-light';
        color: $text-gray;
        padding-right: 25px;
        max-height: vw(90);
        overflow-y: auto;
        margin: 21px 25px 28px;
    }
    &__text,
    &__input     {
        display: none;
    }

    &__input:checked ~  #{$present}__arrow {
            transform: rotate(90deg);

    }

    &__input:checked ~ #{$present}__text {
        display: block;
    }
}

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:#ecedee
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:$bg-color;
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 4px;
    }