@import './variables.scss';
@import './mixin.scss';

.presentation {
    $present:&;

    &__img {
        background: url(../img/services2.png) no-repeat;
        background-size: 100%;
        max-width: vw(570);
        min-width: vw(570);
        min-height: vw(380);
    }

    &__form {
        margin-left: 15px;
        width: 45%;
    }

    &__content {
        position: relative;
        border: 1px solid $text-gray;
        padding: 15px;
    }

    &__header {
        text-transform: uppercase;
        font-size: $text-size*0.67;
        color: $text-black;

        @include px(15px,0);
    }

    &__arrow {
        cursor: pointer;
        position: absolute;
        transform: rotate(-90deg);
        right: 20px;
    }

    &__spoiler {
        display: flex;
        align-items: center;
    }

    &__text {
        font-family: 'roboto-light';
        color: $text-gray;
        padding: 20px 55px 20px 20px;
        border-top: 1px solid $text-gray;
    }
    &__text,
    &__input {
        display: none;
    }

    &__input:checked {
        #{$present} {
            &__arrow {
            transform: rotate(180deg);

            }

            &__text {
                display: block;
            }
        }
    }
}