@import './variables.scss';
@import './mixin.scss';

.quotes {
    background: $bg-light-color;
    font-size: $text-size*1.6;

    &_light {
        background-color: #fff;
    }
    

}

.quote {
    position: relative;
    display: flex;

    @include py(vw(70), vw(80));

    @include px(vw(110), vw(110));


    &__wrapper {
        margin-left: 61px;
        text-align: left;
    }

    &__icon {
        border: 3px solid $bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 150px;
        min-height: 150px;

        &_img {
            border-radius: 50%;
            border: none;
            background: url(../img/testimonial.png);
            background-position: center;
        }
    }

    &__text {
        color: $text-gray;
        font-family: 'roboto-light';
    }

    &__auther {
        display: flex;
        justify-content: flex-start;

        margin-top: vw(23);
    }

    &__line {
        margin: 0;
        align-self: center;
    }

    &__name {
        margin-left: 10px;
        font-family: 'kaushan';
    }

    &__arrow {
        width: vw(100);
        cursor: pointer;
    }
}