@import './variables.scss';
@import './mixin.scss';

.services {
    @include py(vw(110), vw(120));

    &__options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include px(31px,31px);
    }

    &__option {
        width: 33%;

        &:nth-child(n+4) {
            padding-top: vw(90);
        }
    }
}

// .option {
//     &__content {
//         @include px(27px,20px);
//     }
// } 