@import './variables.scss';
@import './mixin.scss';

.services {
    @include py(vw(110), vw(120));

    &__options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include px(31px,31px);
    }

    &__option {
        width: 33%;

        &:nth-child(n+4) {
            padding-top: vw(90);
        }
    }
}

@media screen and (max-width:715px) {
    .option {
        width: 50%;

        &:nth-of-type(3) {
            padding-top: vw(90);
        }
    }
}

@media screen and (max-width:495px) {
    .option {
        width: 100%;

        &:nth-of-type(2) {
            padding-top: vw(90);
        }
    }
}