@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'roboto-light';
    src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'kaushan';
    src: url(../fonts/KaushanScript-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}         

@import "./variables.scss";

@import "./mixin.scss";

@import "./banner.scss";

@import './link.scss';

@import './heading.scss';

@import './line.scss';

@import './button.scss';

@import './about.scss';

@import './text.scss';

@import './facts.scss';

@import './number.scss';
