$text-white:#fff;

$text-black:#333;

$text-gray:#999;

$text-gray-light: #ccc;

$bg-color:#95e1d3;

$bg-light-color:#f8f8f8;

$line-color:#f38181;

$link-color:#fce38a;

$button-color:#eec788;

$border-color:#e5e5e5;

$text-size:15px;
