@import url('https://fonts.googleapis.com/css?family=Economica');
* {
    font-family: 'Economica', sans-serif;
    box-sizing: border-box;
    
}
body {
    margin: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.navigation{
    background-color: #a64dff;
   position: relative;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
}
.menu-item {
    float: left;
    margin: 0 auto;
}
.more {
    float: right;
}
.menu-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: 700;
    display: block;
    padding: 10px;
}
.menu-item:hover .menu-item-link {
    color: gray;
    background: whitesmoke;
}