@import "../sass/variables.scss";

.header {
    color: $ground-color;
    text-align: center;
}
.header__first-header {
    font-size: vw(35);
    font-family: $gotham;
    text-transform: uppercase;
}

.header__secondary-header {
    font-size: vw(16);
    font-family: $sans;
}