@import url('https://fonts.googleapis.com/css?family=Economica');

* {
     font-family: 'Economica', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.navigation {
  background:#a64dff;
  position: relative;
}
.menu {
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding:0;
    /* font-size: 0; */
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
.menu-item {
    display: inline-block;
}
.menu-item-link {
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
}
.menu-item:hover .menu-item-link {
    color: gray;
    background: whitesmoke;
}