
.banner {
    position: relative;
    background: $logo-color2;
    text-align: center;

    &__header {
        padding: 7% 0 2%;
    }

    &__form {
        padding: 0 3% 30%;
    }
}
.form__input {
    width: 27%;
}

