@font-face {
    font-family:'MyriadPro-Black';
    src:url(./fonts/MyriadPro-Black.woff)
}
* {
    font-family:'MyriadPro-Black',  sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.page-header {
    background-color: #333333;
    padding: 39.5px 70px;
    color: #eee;
}
.container {
    max-width: 966px;
    margin: 0 auto;
}
.page-header-logo {
    font-size: 56px;
}
.page-header-menu {
    font-family: "Arial MT", sans-serif;
    float: right;
    margin-top: 33px;
    padding: 0;
    }
@media all and (max-width:869px) {
    .page-header-menu {
        margin-top: -10px;
    }
}
a {
    text-decoration: none;
    color: #eee;
    font-size: 13px;
}
.page-header-menu-item {
    display: inline-block;
    list-style-type:none;
}
.active {
    color: #00bff3;
}
.page-header-menu-item:nth-child(n+2)::before {
    color: #eee;
    content: "--";
    padding: 1px;
}

.page-main-content {
    padding: 30px 70px 0 70px;
}
section.container {
  border-bottom:5px dotted #ccc;
  padding: 40px 0;
}


.main-heading {
    font-size: 56px;
    font-weight: bold;
    color: #333333;
}
.main-heading-highlight {
    color: #00bff3;
}
.secondary-heading {
    font-size: 47px;
    color: #c4c4c4;
}
.text-info-title {
  font-size:34px;
  color:#555;
}
strong {
    font-weight: bold;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.card {
  /* display:inline-block; */
  
  float:left;
  margin-top: 5px;
  width:30%;
  padding: 25px;
  text-align:center;
  background-color:#00aeef;
  color:#eefafe;
  box-shadow:3px 3px #c9c9c9;
}
@media all and (max-width:1000px) {
.card {
    width: 100%;
}
}
.card:not(:last-child) {
    margin-right: 5%;
}
.card-heading {
 font-size: 40px;
  border-bottom:3px dotted #eefafe;
  padding-bottom: 15px;
}
.card-description {
    font-size: 14px;
    padding: 27px 3px;
    line-height: 21px;
}
.card-button {
  position: relative;
  display: inline-block;
  top:-20px;
  background-color:#0076a3;
  font-size:14px;
  text-transform:uppercase;
  border:2px solid #14607d;
  padding: 5%;
  width:100%;
  height: 40%;
}
@media all and (max-width:1000px) {
    .card-button {
        padding: 2%;
    }
}
.two-columns {
    color: #555;
    
}
.two-columns-item {
    float: left;
    width: 50%;
}
/* .two-columns-item-content {
    padding-right: 5%;
} */
.testimonials {
    border-right: 4px dotted #ccc;
}
.projects {
    
    padding: 0 0 0 47px;
}
.link {
    color: #00aeef;
}
.two-columns-item-heading {
    font-size: 20px;
    /* padding: 0 0 29px 0; */
}
.testimonial {
    margin-top: 7%;

}
.testimonial-avatar {
    display: inline-block;
    border: 1px solid #cccccc;
    width: 84px;
    height: 84px;
    margin-right: 27px;
    background-color: #cccccc;
}
.testimonial-wrapper {
    display: inline-block;
    width: 75%;
    /* margin-left: 27px; */
    font-size: 14px;
}
.testimonial-author {
    padding: 5% 0 0 0;
}
.project-title {
    color: #888;
    font-size: 20px;
}
.project-img {
    padding: 9px 0 19px 0;
    max-width: 100%;
    width: 100%;    
}

.link-decorated::after {
    content: ">>";
    padding: 3px;
}
.page-footer {
    padding: 18px 70px;
    color: #888;
    font-size: 16px;   
}
.page-footer-text-item:not(:first-child)::before {
    content: "~";
    padding: 3px;
}